@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

body [xml|lang],
q{
	font-style: italic;
}

section{
	break-after: page;
}

/* Letter */
[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:letter"] header p + p{
	margin-top: 1em;
}

#chapter-3 [epub|type~="z3998:letter"] header > [epub|type~="se:letter.dateline"],
#chapter-3 [epub|type~="z3998:letter"] header > [epub|type~="z3998:salutation"]{
	text-align: initial;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:recipient"],
[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}
/* End letter */

/* Poem */
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* End poem */

/* Image */
figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}
/* End image */

/* Blockquote */
header,
footer{
	margin: 1em;
	text-align: center;
}

header p,
footer p{
	text-indent: 0;
}

#chapter-4-2 blockquote > p:nth-of-type(2){
	margin: 1em;
	text-align: center;
	text-indent: 0;
}

#chapter-13 header p + p{
	margin-top: 1em;
}

#chapter-21 [epub|type~="z3998:signature"]{
	margin-bottom: 1em;
	text-align: right;
}

#chapter-8-2 blockquote{
	font-style: italic;
}
/* End blockquote */

/* Large advertisement (chapter 6) */
#chapter-6-3 > blockquote:first-of-type{
	margin-left: 0;
	margin-right: 0;
}

#chapter-6-3 > blockquote:first-of-type > header p:first-of-type{
	font-weight: bold;
}

#chapter-6-3 > blockquote:first-of-type > header p + p{
	margin-top: 1em;
}

#chapter-6-3 > blockquote:first-of-type header p b,
#chapter-6-3 > blockquote:first-of-type footer p b{
	text-transform: uppercase;
}

#chapter-6-3 footer > p:first-child{
	font-variant: small-caps;
}

#chapter-6-3 footer > p:last-child{
	margin-top: 1em;
}

#chapter-6-3 footer p > span:first-child{
	padding-right: 4em;
}

#chapter-6-3 blockquote div{
	border: 2px solid;
	height: auto;
	margin: 1em;
	max-width: 12em;
	padding: 1em;
}

#chapter-6-3 blockquote div header{
	font-variant: small-caps;
}

#chapter-6-3 blockquote div p{
	text-indent: 0;
}

#chapter-6-3 blockquote div:first-of-type{
	float: left;
}

#chapter-6-3 blockquote div:last-of-type{
	float: right;
}

#chapter-6-3 footer{
	clear: both;
}
/* End large advertisement (chapter 6) */
