@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

[epub|type~="z3998:letter"]{
	text-align: initial;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
	text-indent: 0;
}

[epub|type="z3998:sender"]{
	text-align: right;
}

[epub|type="z3998:recipient"]{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"]{
	margin-top: 1em;
	text-align: center;
}

[epub|type~="z3998:poem"] p{
	text-align: center;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-se: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

body [xml|lang]{
	font-style: italic;
}

header{
	margin: 1em;
	text-align: initial;
}

footer > p:first-child{
	font-variant: small-caps;
}

footer > p:last-child{
	margin-top: 1em;
}

[epub|type~="z3998:postscript"]{
	margin-top: 1em;
	text-align: initial;
	text-indent: 0;
}

figure{
	break-inside: avoid;
	margin: 1em auto;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figure.half-page img{
	max-width: 50%;
}

blockquote{
	font-size: .80em;
	text-indent: 0;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
